<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: AzureStorageConnectionString-1 -->
        <add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=testphotogallery;AccountKey=7+E8QNDGcCV0L0V+8YClIMF+YsvR3lHkS/vsGYG1yjOaG05LnnV9qOhJ4NxfSiIjT0BevFNGExAWFfxlzCwmgA==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>